.vs/
FingerPrintManagerApp/obj/
FingerPrintManagerApp/obj/Debug
FingerPrintManagerApp/bin/
/FingerPrintManagerApp/obj/project.assets.json
/FingerPrintManagerApp/obj/project.nuget.cache
/FingerPrintManagerApp/obj/FingerPrintManagerApp.csproj.nuget.dgspec.json
/FingerPrintManagerApp/obj/Debug/net8.0-windows/App.g.cs
/FingerPrintManagerApp/obj/Debug/net8.0-windows/App.g.i.cs
/FingerPrintManagerApp/obj/Debug/net8.0-windows/apphost.exe
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.AssemblyInfo.cs
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.AssemblyInfoInputs.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.assets.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.csproj.AssemblyReference.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.csproj.CoreCompileInputs.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.csproj.FileListAbsolute.txt
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.designer.deps.json
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.dll
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.g.resources
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp.pdb
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp_MarkupCompile.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp_MarkupCompile.i.cache
/FingerPrintManagerApp/obj/Debug/net8.0-windows/FingerPrintManagerApp_MarkupCompile.lref
/FingerPrintManagerApp/obj/Debug/net8.0-windows/MainWindow.baml
/FingerPrintManagerApp/obj/Debug/net8.0-windows/MainWindow.g.cs
/FingerPrintManagerApp/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/FingerPrintManagerApp/obj/Debug/net8.0-windows/ref/FingerPrintManagerApp.dll
/FingerPrintManagerApp/obj/Debug/net8.0-windows/refint/FingerPrintManagerApp.dll
